Repository mojaloop/participants-bc: changes, and which CircleCI parameters are due for each by the changed paths.
All: npm_lib_package="public-types-lib", npm_lib_package="client-lib", docker_svc_package="participants-svc"

3536 Error handling
  packages/participants-svc/src/application/routes.ts
  packages/participants-svc/src/domain/participant_agg.ts
Due: docker_svc_package="participants-svc"

Minor fixes from PR#19 merge
  package-lock.json
  packages/participants-svc/src/application/routes.ts
  packages/participants-svc/src/domain/participant_agg.ts
Due: docker_svc_package="participants-svc"

[ci skip] CI/CD auto commit for 'public-types-lib' NPM publish - parent commit: '475602459d4d3d13c8974ee7d6a9235f15db496a'
  packages/public-types-lib/package.json
Due: npm_lib_package="public-types-lib"

[ci skip] CI/CD auto commit for 'participants-svc' Docker Build and Publish - parent commit: '475602459d4d3d13c8974ee7d6a9235f15db496a'
  packages/participants-svc/package.json
Due: docker_svc_package="participants-svc"

3536 Move routes not to confuse between getParticipant/:id and other routes
  packages/participants-svc/src/application/routes.ts
Due: docker_svc_package="participants-svc"

Modify the participant's account create request validation
  packages/participants-svc/src/domain/participant_agg.ts
Due: docker_svc_package="participants-svc"

[ci skip] CI/CD auto commit for 'participants-svc' Docker Build and Publish - parent commit: 'c2de65d59dc0226d6e464eee81b5b825c28cb36b'
  packages/participants-svc/package.json
Due: docker_svc_package="participants-svc"

Minor fixes from #3607 bug fix
  packages/participants-svc/src/application/routes.ts
  packages/participants-svc/src/domain/errors.ts
  packages/participants-svc/src/domain/participant_agg.ts
Due: docker_svc_package="participants-svc"

[ci skip] CI/CD auto commit for 'participants-svc' Docker Build and Publish - parent commit: '4b343cdd3dd642cc3bdb79e95c0f7966531b75f3'
  packages/participants-svc/package.json
Due: docker_svc_package="participants-svc"

test: participant svc unit test added
  package-lock.json
  package.json
  packages/client-lib/src/participants_http_client.ts
  packages/participants-svc/package.json
  packages/participants-svc/test/unit/participants_routes.test.ts
  packages/shared-mocks-lib/.ncurc.json
  packages/shared-mocks-lib/.nvmrc
  packages/shared-mocks-lib/LICENSE.md
  packages/shared-mocks-lib/README.md
  packages/shared-mocks-lib/package.json
  packages/shared-mocks-lib/src/adapter/accounts_balances_adapter_mock.ts
  packages/shared-mocks-lib/src/audit_client_mock.ts
  packages/shared-mocks-lib/src/authorization_client_mock.ts
  packages/shared-mocks-lib/src/config_client_mock.ts
  packages/shared-mocks-lib/src/converters.ts
  packages/shared-mocks-lib/src/index.ts
  packages/shared-mocks-lib/src/memory_message_consumer.ts
  packages/shared-mocks-lib/src/memory_message_producer.ts
  packages/shared-mocks-lib/src/memory_participants_repo.ts
  packages/shared-mocks-lib/src/mocked_data.ts
  packages/shared-mocks-lib/src/token_helper_mock.ts
  packages/shared-mocks-lib/tsconfig.json
  test/integration/index.test.ts
Due: npm_lib_package="client-lib", docker_svc_package="participants-svc"

test: integration test added
  jest.config.js
  package.json
  test/integration/implementations/participants_repo.test.ts
  test/integration/index.test.ts
  test/integration/participants-svc/participants_svc_routes.test.ts
Due: none

Update to node.js 20.10
  .circleci/config.yml
  .nvmrc
  package-lock.json
  package.json
  packages/client-lib/package.json
  packages/participants-svc/Dockerfile
  packages/participants-svc/package.json
  packages/public-types-lib/package.json
Due: npm_lib_package="public-types-lib", npm_lib_package="client-lib", docker_svc_package="participants-svc"

[ci skip] CI/CD auto commit for 'client-lib' NPM publish - parent commit: '36e041ec2700590a0e15e6a48c79283d0869d964'
  packages/client-lib/package.json
Due: npm_lib_package="client-lib"

[ci skip] CI/CD auto commit for 'public-types-lib' NPM publish - parent commit: '36e041ec2700590a0e15e6a48c79283d0869d964'
  packages/public-types-lib/package.json
Due: npm_lib_package="public-types-lib"

[ci skip] CI/CD auto commit for 'participants-svc' Docker Build and Publish - parent commit: '36e041ec2700590a0e15e6a48c79283d0869d964'
  packages/participants-svc/package.json
Due: docker_svc_package="participants-svc"

Updated dependency versions to latest
  package.json
  packages/client-lib/.nvmrc
  packages/client-lib/package.json
  packages/participants-svc/package.json
  packages/public-types-lib/package.json
Due: npm_lib_package="public-types-lib", npm_lib_package="client-lib", docker_svc_package="participants-svc"

[ci skip] CI/CD auto commit for 'client-lib' NPM publish - parent commit: '9b869bbe9b7308605ae5132bee56216af45c047f'
  packages/client-lib/package.json
Due: npm_lib_package="client-lib"

[ci skip] CI/CD auto commit for 'public-types-lib' NPM publish - parent commit: '9b869bbe9b7308605ae5132bee56216af45c047f'
  packages/public-types-lib/package.json
Due: npm_lib_package="public-types-lib"

[ci skip] CI/CD auto commit for 'participants-svc' Docker Build and Publish - parent commit: '9b869bbe9b7308605ae5132bee56216af45c047f'
  packages/participants-svc/package.json
Due: docker_svc_package="participants-svc"

feat:Participant's route unit test
  packages/participants-svc/src/application/routes.ts
  packages/participants-svc/src/domain/participant_agg.ts
  packages/participants-svc/test/unit/participants_routes.test.ts
  packages/shared-mocks-lib/src/mocked_data.ts
Due: docker_svc_package="participants-svc"

feat: added test cases for participants sourceIP routes
  packages/participants-svc/src/application/routes.ts
  packages/participants-svc/test/unit/participants_routes.test.ts
Due: docker_svc_package="participants-svc"

feat: add more tests to the routes
  packages/participants-svc/src/domain/participant_agg.ts
  packages/participants-svc/test/unit/participants_routes.test.ts
Due: docker_svc_package="participants-svc"

feat: added service.test.ts
  packages/participants-svc/test/unit/participants_routes.test.ts
  packages/participants-svc/test/unit/service.test.ts
Due: docker_svc_package="participants-svc"

Updated to latest security client lib version and added consumer to tokenHelper
  packages/client-lib/package.json
  packages/participants-svc/package.json
  packages/participants-svc/src/application/service.ts
  packages/participants-svc/src/domain/participant_agg.ts
Due: npm_lib_package="client-lib", docker_svc_package="participants-svc"

[ci skip] CI/CD auto commit for 'client-lib' NPM publish - parent commit: '91f36d5454324549f4f41e41d75d2a9b19ab0f57'
  packages/client-lib/package.json
Due: npm_lib_package="client-lib"

[ci skip] CI/CD auto commit for 'participants-svc' Docker Build and Publish - parent commit: '91f36d5454324549f4f41e41d75d2a9b19ab0f57'
  packages/participants-svc/package.json
Due: docker_svc_package="participants-svc"

feat: added more unit tests
  packages/participants-svc/test/unit/participants.test.ts
  packages/participants-svc/test/unit/participants_routes.test.ts
  packages/shared-mocks-lib/src/memory_participants_repo.ts
  test/integration/index.test.ts
  test/integration/participants-svc/participants_svc_routes.test.ts
Due: docker_svc_package="participants-svc"

fix: correct lint erros
  packages/shared-mocks-lib/src/adapter/accounts_balances_adapter_mock.ts
  packages/shared-mocks-lib/src/memory_participants_repo.ts
  packages/shared-mocks-lib/src/mocked_data.ts
  packages/shared-mocks-lib/src/token_helper_mock.ts
Due: none

feat: increase test coverage
  packages/participants-svc/test/unit/participants.test.ts
  packages/participants-svc/test/unit/service.test.ts
  packages/shared-mocks-lib/src/index.ts
  packages/shared-mocks-lib/src/memory_auth_requester.ts
Due: docker_svc_package="participants-svc"

fix: bug fixes for participants_routes.test
  packages/participants-svc/test/unit/participants_routes.test.ts
Due: docker_svc_package="participants-svc"

Fixed this.expressServer.close() error when stopping the service
  packages/participants-svc/src/application/service.ts
Due: docker_svc_package="participants-svc"

[ci skip] CI/CD auto commit for 'participants-svc' Docker Build and Publish - parent commit: '5c8527846d14749d96802c5774a6f18128417f93'
  packages/participants-svc/package.json
Due: docker_svc_package="participants-svc"

Added test for ParticipantEventHandler
  package.json
  packages/participants-svc/package.json
  packages/participants-svc/src/application/service.ts
  packages/participants-svc/test/unit/index.test.ts
  packages/shared-mocks-lib/package.json
Due: docker_svc_package="participants-svc"

removed --detectOpenHandles option from test command
  package.json
Due: none

feat: approval result msg format changed and improved
  package-lock.json
  packages/participants-svc/src/domain/participant_agg.ts
  packages/participants-svc/src/domain/server_types.ts
Due: docker_svc_package="participants-svc"

refactor: improving success msg
  packages/participants-svc/src/domain/participant_agg.ts
Due: docker_svc_package="participants-svc"

Added test cases
  package-lock.json
  packages/participants-svc/jest.config.js
  packages/participants-svc/src/application/service.ts
  packages/participants-svc/test/unit/event_handler.test.ts
  packages/participants-svc/test/unit/index.test.ts
  packages/participants-svc/test/unit/participants_routes.test.ts
  packages/shared-mocks-lib/src/adapter/accounts_balances_adapter_mock.ts
  test/integration/index.test.ts
  test/integration/participants-svc/participants_svc_routes.test.ts
Due: docker_svc_package="participants-svc"

Update jest.config.js
  jest.config.js
Due: none

Implement reject function for participant account change request
  packages/participants-svc/src/application/routes.ts
  packages/participants-svc/src/domain/participant_agg.ts
  packages/participants-svc/src/domain/privilege_names.ts
  packages/public-types-lib/src/enums.ts
  packages/public-types-lib/src/participant.ts
Due: npm_lib_package="public-types-lib", docker_svc_package="participants-svc"

#3614 reject action implementation for maker-checker flow
  packages/participants-svc/src/application/privileges.ts
  packages/participants-svc/src/application/routes.ts
  packages/participants-svc/src/domain/participant_agg.ts
  packages/participants-svc/src/domain/privilege_names.ts
  packages/public-types-lib/src/enums.ts
  packages/public-types-lib/src/participant.ts
Due: npm_lib_package="public-types-lib", docker_svc_package="participants-svc"

Path conditions:
  npm_lib_package="public-types-lib": any of: packages/public-types-lib/.*
  npm_lib_package="client-lib": any of: packages/client-lib/.*
  docker_svc_package="participants-svc": any of: packages/participants-svc/.*
