Repository mojaloop/participants-bc: changes, and which CircleCI parameters are due for each by the changed paths.
All: npm_lib_package="public-types-lib", npm_lib_package="client-lib", docker_svc_package="participants-svc"

[ci skip] CI/CD auto commit for 'participants-svc' Docker Build and Publish - parent commit: '72b14dec69f2aa49be97603b336eef39f9fa2e15'
  packages/participants-svc/package.json
Due: docker_svc_package="participants-svc"

Fixed NDC going below zero when current value was negative (not it is at min zero) and forced it to be equal or lesser than current liquidity value
  packages/participants-svc/src/application/service.ts
  packages/participants-svc/src/domain/participant_agg.ts
Due: docker_svc_package="participants-svc"

[ci skip] CI/CD auto commit for 'participants-svc' Docker Build and Publish - parent commit: '6da7a9a9f61833e056c8815aeb7a0c282a115010'
  packages/participants-svc/package.json
Due: docker_svc_package="participants-svc"

Added event handler that handles SettlementMatrixSettledEvt and recalculates the NDC
  package-lock.json
  packages/participants-svc/package.json
  packages/participants-svc/src/application/event_handler.ts
  packages/participants-svc/src/application/service.ts
  packages/participants-svc/src/domain/entities/enums.ts
  packages/participants-svc/src/domain/iparticipant_account_balances_adapter.ts
  packages/participants-svc/src/domain/participant_agg.ts
  packages/participants-svc/src/implementations/grpc_acc_bal_adapter.ts
  packages/public-types-lib/src/participant.ts
Due: npm_lib_package="public-types-lib", docker_svc_package="participants-svc"

[ci skip] CI/CD auto commit for 'public-types-lib' NPM publish - parent commit: '9509e06ab74fc497b3b232610a1e9f4557406265'
  packages/public-types-lib/package.json
Due: npm_lib_package="public-types-lib"

[ci skip] CI/CD auto commit for 'participants-svc' Docker Build and Publish - parent commit: '9509e06ab74fc497b3b232610a1e9f4557406265'
  packages/participants-svc/package.json
Due: docker_svc_package="participants-svc"

Add request/approve feature and external bank info in the participant account
  packages/client-lib/src/participants_http_client.ts
  packages/participants-svc/src/application/privileges.ts
  packages/participants-svc/src/application/routes.ts
  packages/participants-svc/src/domain/entities/enums.ts
  packages/participants-svc/src/domain/entities/participant.ts
  packages/participants-svc/src/domain/participant_agg.ts
  packages/participants-svc/src/domain/privilege_names.ts
  packages/public-types-lib/src/participant.ts
Due: npm_lib_package="public-types-lib", npm_lib_package="client-lib", docker_svc_package="participants-svc"

Add accountId in account change request object
  packages/participants-svc/src/domain/entities/participant.ts
  packages/participants-svc/src/domain/participant_agg.ts
  packages/public-types-lib/src/participant.ts
Due: npm_lib_package="public-types-lib", docker_svc_package="participants-svc"

[ci skip] #3486 Adding approval for participant account changes
  package-lock.json
  packages/participants-svc/src/domain/participant_agg.ts
  packages/participants-svc/src/implementations/mongodb_participants_repo.ts
Due: docker_svc_package="participants-svc"

3486 Update code for reviewer suggestion
  packages/client-lib/src/participants_http_client.ts
  packages/participants-svc/src/application/privileges.ts
  packages/participants-svc/src/application/routes.ts
  packages/participants-svc/src/domain/entities/enums.ts
  packages/participants-svc/src/domain/entities/participant.ts
  packages/participants-svc/src/domain/errors.ts
  packages/participants-svc/src/domain/participant_agg.ts
  packages/participants-svc/src/domain/privilege_names.ts
  packages/public-types-lib/src/participant.ts
Due: npm_lib_package="public-types-lib", npm_lib_package="client-lib", docker_svc_package="participants-svc"

#3486 update _participantAccountApprove function
  packages/participants-svc/src/application/routes.ts
Due: docker_svc_package="participants-svc"

[skip ci] minor fixes to the types and enums; also moved the hub id to the public types
  packages/participants-svc/src/domain/entities/enums.ts
  packages/participants-svc/src/domain/entities/participant.ts
  packages/participants-svc/src/domain/participant_agg.ts
  packages/public-types-lib/src/participant.ts
Due: npm_lib_package="public-types-lib", docker_svc_package="participants-svc"

[skip ci] minor fixes to the types and enums #2
  packages/participants-svc/src/domain/participant_agg.ts
  packages/public-types-lib/src/participant.ts
Due: npm_lib_package="public-types-lib", docker_svc_package="participants-svc"

#3486 Modiy code as change request suggestion.
  packages/participants-svc/src/domain/participant_agg.ts
  packages/public-types-lib/src/participant.ts
Due: npm_lib_package="public-types-lib", docker_svc_package="participants-svc"

Added new audit entries and change logs
  packages/participants-svc/src/application/privileges.ts
  packages/participants-svc/src/application/routes.ts
  packages/participants-svc/src/domain/entities/enums.ts
  packages/participants-svc/src/domain/participant_agg.ts
  packages/participants-svc/src/domain/privilege_names.ts
  packages/public-types-lib/src/participant.ts
Due: npm_lib_package="public-types-lib", docker_svc_package="participants-svc"

[ci skip] CI/CD auto commit for 'client-lib' NPM publish - parent commit: 'f31015226c57f34ee95a40230091d834acc97789'
  packages/client-lib/package.json
Due: npm_lib_package="client-lib"

[ci skip] CI/CD auto commit for 'public-types-lib' NPM publish - parent commit: 'f31015226c57f34ee95a40230091d834acc97789'
  packages/public-types-lib/package.json
Due: npm_lib_package="public-types-lib"

[ci skip] CI/CD auto commit for 'participants-svc' Docker Build and Publish - parent commit: 'f31015226c57f34ee95a40230091d834acc97789'
  packages/participants-svc/package.json
Due: docker_svc_package="participants-svc"

[skip ci] Created CODEOWNERS
  CODEOWNERS
Due: none

#3008 Participant SourceIp create request and approval
  package-lock.json
  packages/participants-svc/src/application/privileges.ts
  packages/participants-svc/src/application/routes.ts
  packages/participants-svc/src/domain/entities/enums.ts
  packages/participants-svc/src/domain/entities/participant.ts
  packages/participants-svc/src/domain/errors.ts
  packages/participants-svc/src/domain/participant_agg.ts
  packages/participants-svc/src/domain/privilege_names.ts
  packages/participants-svc/src/implementations/mongodb_participants_repo.ts
  packages/public-types-lib/src/participant.ts
Due: npm_lib_package="public-types-lib", docker_svc_package="participants-svc"

[skip ci] update commit
  packages/participants-svc/src/application/privileges.ts
Due: docker_svc_package="participants-svc"

#3008 Add sourceIpChangeRequest validation in api side
  packages/participants-svc/src/application/_utils/_utility.ts
  packages/participants-svc/src/application/privileges.ts
  packages/participants-svc/src/domain/participant_agg.ts
Due: docker_svc_package="participants-svc"

[skip ci] update commit
  packages/participants-svc/src/application/_utils/_utility.ts
Due: docker_svc_package="participants-svc"

Moved enums to public lib and added specific audit actions and
  packages/participants-svc/src/application/_utils/_utility.ts
  packages/participants-svc/src/domain/entities/participant.ts
  packages/participants-svc/src/domain/participant_agg.ts
  packages/public-types-lib/src/enums.ts
  packages/public-types-lib/src/index.ts
  packages/public-types-lib/src/participant.ts
Due: npm_lib_package="public-types-lib", docker_svc_package="participants-svc"

[ci skip] CI/CD auto commit for 'public-types-lib' NPM publish - parent commit: 'bf3348ff76f039544f40ab796b9096ac9adbb972'
  packages/public-types-lib/package.json
Due: npm_lib_package="public-types-lib"

[ci skip] CI/CD auto commit for 'participants-svc' Docker Build and Publish - parent commit: 'bf3348ff76f039544f40ab796b9096ac9adbb972'
  packages/participants-svc/package.json
Due: docker_svc_package="participants-svc"

Updated eslint rules and cleaned up the code
  .eslintrc
  packages/participants-svc/src/application/service.ts
  packages/participants-svc/src/domain/participant_agg.ts
Due: docker_svc_package="participants-svc"

[ci skip] CI/CD auto commit for 'participants-svc' Docker Build and Publish - parent commit: 'b090f170f49d05391ff26dd588738c6a35e8cf28'
  packages/participants-svc/package.json
Due: docker_svc_package="participants-svc"

feat: balance check added in fund mov withdrawal
  package-lock.json
  packages/participants-svc/src/application/routes.ts
  packages/participants-svc/src/domain/errors.ts
  packages/participants-svc/src/domain/participant_agg.ts
Due: docker_svc_package="participants-svc"

#3513 add participant contact information
  dist\tmp_key_file
  packages/participants-svc/src/application/privileges.ts
  packages/participants-svc/src/application/routes.ts
  packages/participants-svc/src/domain/entities/participant.ts
  packages/participants-svc/src/domain/errors.ts
  packages/participants-svc/src/domain/participant_agg.ts
  packages/participants-svc/src/domain/privilege_names.ts
  packages/participants-svc/src/implementations/mongodb_participants_repo.ts
  packages/public-types-lib/src/enums.ts
  packages/public-types-lib/src/participant.ts
Due: npm_lib_package="public-types-lib", docker_svc_package="participants-svc"

refactor: Checking for NaN value in amounts of funds movement
  packages/participants-svc/src/domain/participant_agg.ts
Due: docker_svc_package="participants-svc"

[ci skip] update commit
  packages/participants-svc/src/domain/participant_agg.ts
Due: docker_svc_package="participants-svc"

add [ci skip] to the commit
  dist\tmp_key_file
Due: none

3568 Added participant change event producer
  package-lock.json
  packages/participants-svc/package.json
  packages/participants-svc/src/application/service.ts
  packages/participants-svc/src/domain/participant_agg.ts
Due: docker_svc_package="participants-svc"

Minor lint fixes and removed unnecessary arch from CI/CD docker build
  .circleci/publish.sh
  package-lock.json
  packages/participants-svc/src/domain/entities/participant.ts
  packages/participants-svc/src/domain/participant_agg.ts
Due: docker_svc_package="participants-svc"

[skip ci] minor fixes on action names
  packages/participants-svc/src/application/service.ts
  packages/participants-svc/src/domain/participant_agg.ts
Due: docker_svc_package="participants-svc"

[ci skip] CI/CD auto commit for 'participants-svc' Docker Build and Publish - parent commit: '7944cda6e69c6fe72210bb52e60fa59f1241a986'
  packages/participants-svc/package.json
Due: docker_svc_package="participants-svc"

re-trigger of libs build and publish
  packages/client-lib/package.json
  packages/public-types-lib/package.json
Due: npm_lib_package="public-types-lib", npm_lib_package="client-lib"

[ci skip] CI/CD auto commit for 'client-lib' NPM publish - parent commit: '0449b13094d3ebddcc377ae2d6b4fa127a8ee42e'
  packages/client-lib/package.json
Due: npm_lib_package="client-lib"

[ci skip] CI/CD auto commit for 'public-types-lib' NPM publish - parent commit: '0449b13094d3ebddcc377ae2d6b4fa127a8ee42e'
  packages/public-types-lib/package.json
Due: npm_lib_package="public-types-lib"

Path conditions:
  npm_lib_package="public-types-lib": any of: packages/public-types-lib/.*
  npm_lib_package="client-lib": any of: packages/client-lib/.*
  docker_svc_package="participants-svc": any of: packages/participants-svc/.*
