Repository mojaloop/participants-bc: changes, and which CircleCI parameters are due for each by the changed paths.
All: npm_lib_package="public-types-lib", npm_lib_package="client-lib", docker_svc_package="participants-svc"

#3546 enable/disable particpant
  package-lock.json
  packages/participants-svc/src/application/privileges.ts
  packages/participants-svc/src/application/routes.ts
  packages/participants-svc/src/domain/entities/participant.ts
  packages/participants-svc/src/domain/errors.ts
  packages/participants-svc/src/domain/participant_agg.ts
  packages/participants-svc/src/domain/privilege_names.ts
  packages/participants-svc/src/implementations/mongodb_participants_repo.ts
  packages/public-types-lib/src/enums.ts
  packages/public-types-lib/src/participant.ts
Due: npm_lib_package="public-types-lib", docker_svc_package="participants-svc"

#3546 fix pre_commit_check error
  packages/participants-svc/src/domain/participant_agg.ts
Due: docker_svc_package="participants-svc"

#3546 Added restriction for disabled participant
  packages/participants-svc/src/domain/participant_agg.ts
Due: docker_svc_package="participants-svc"

Bug fix
  packages/participants-svc/src/domain/participant_agg.ts
Due: docker_svc_package="participants-svc"

Minor fixes and merge to main
  packages/participants-svc/src/application/privileges.ts
  packages/participants-svc/src/application/routes.ts
  packages/participants-svc/src/application/service.ts
  packages/participants-svc/src/domain/participant_agg.ts
  packages/public-types-lib/src/enums.ts
Due: npm_lib_package="public-types-lib", docker_svc_package="participants-svc"

[ci skip] CI/CD auto commit for 'public-types-lib' NPM publish - parent commit: '00ee1932cd8178aec79f53cef2878ed2a958e465'
  packages/public-types-lib/package.json
Due: npm_lib_package="public-types-lib"

[ci skip] CI/CD auto commit for 'participants-svc' Docker Build and Publish - parent commit: '00ee1932cd8178aec79f53cef2878ed2a958e465'
  packages/participants-svc/package.json
Due: docker_svc_package="participants-svc"

Updates to match new security, latest CI/CD and dockerfile
  .circleci/config.yml
  package-lock.json
  package.json
  packages/client-lib/package.json
  packages/participants-svc/Dockerfile
  packages/participants-svc/package.json
  packages/participants-svc/src/application/event_handler.ts
  packages/participants-svc/src/application/routes.ts
  packages/participants-svc/src/application/service.ts
  packages/participants-svc/src/domain/errors.ts
  packages/participants-svc/src/domain/participant_agg.ts
Due: npm_lib_package="client-lib", docker_svc_package="participants-svc"

[ci skip] CI/CD auto commit for 'client-lib' NPM publish - parent commit: '6b273552fd36d27e8a68b495317d86cf936c598e'
  packages/client-lib/package.json
Due: npm_lib_package="client-lib"

[ci skip] CI/CD auto commit for 'participants-svc' Docker Build and Publish - parent commit: '6b273552fd36d27e8a68b495317d86cf936c598e'
  packages/participants-svc/package.json
Due: docker_svc_package="participants-svc"

Made sure actions for normal participants cannot be performed on the hub participant
  packages/participants-svc/src/domain/participant_agg.ts
Due: docker_svc_package="participants-svc"

[ci skip] CI/CD auto commit for 'participants-svc' Docker Build and Publish - parent commit: 'cb9a6afcbfef9cdb323ae6bb441180ca7cd4cf95'
  packages/participants-svc/package.json
Due: docker_svc_package="participants-svc"

added search related queries and routes
  packages/participants-svc/src/application/routes.ts
  packages/participants-svc/src/domain/participant_agg.ts
  packages/participants-svc/src/domain/repo_interfaces.ts
  packages/participants-svc/src/implementations/mongodb_participants_repo.ts
Due: docker_svc_package="participants-svc"

added missing server types file
  package-lock.json
  packages/participants-svc/src/domain/server_types.ts
Due: docker_svc_package="participants-svc"

[ci skip] CI/CD auto commit for 'participants-svc' Docker Build and Publish - parent commit: '44386080802a10eb6e70b2f3678495ee13d3cc08'
  packages/participants-svc/package.json
Due: docker_svc_package="participants-svc"

fixed issues with participant search routes
  packages/participants-svc/src/application/routes.ts
  packages/participants-svc/src/domain/participant_agg.ts
  packages/participants-svc/src/domain/repo_interfaces.ts
  packages/participants-svc/src/implementations/mongodb_participants_repo.ts
Due: docker_svc_package="participants-svc"

[ci skip] CI/CD auto commit for 'participants-svc' Docker Build and Publish - parent commit: 'dba0b30e802bc5bdd4cbc0ec5d7525ba6713cfee'
  packages/participants-svc/package.json
Due: docker_svc_package="participants-svc"

Added new AuthZ client
  package-lock.json
  package.json
  packages/client-lib/package.json
  packages/participants-svc/package.json
  packages/participants-svc/src/application/service.ts
Due: npm_lib_package="client-lib", docker_svc_package="participants-svc"

[ci skip] CI/CD auto commit for 'client-lib' NPM publish - parent commit: 'ff4eb8812848359646ea5308a704373c671a7d6a'
  packages/client-lib/package.json
Due: npm_lib_package="client-lib"

[ci skip] CI/CD auto commit for 'participants-svc' Docker Build and Publish - parent commit: 'ff4eb8812848359646ea5308a704373c671a7d6a'
  packages/participants-svc/package.json
Due: docker_svc_package="participants-svc"

Added ndc recalculate action at the end of approved funds movement
  packages/participants-svc/src/domain/participant_agg.ts
Due: docker_svc_package="participants-svc"

[ci skip] CI/CD auto commit for 'participants-svc' Docker Build and Publish - parent commit: '9f79d3220c225dce5ea6844d2d9c5bb4e24c5920'
  packages/participants-svc/package.json
Due: docker_svc_package="participants-svc"

Allowed deposit funds on inactive participant (withdrawal still not possible) #3546
  package-lock.json
  packages/participants-svc/src/domain/participant_agg.ts
Due: docker_svc_package="participants-svc"

[ci skip] CI/CD auto commit for 'participants-svc' Docker Build and Publish - parent commit: '5091e885e679ff4c86b4ee81455beee6323a1797'
  packages/participants-svc/package.json
Due: docker_svc_package="participants-svc"

fixed type on getSearchKeywords
  packages/participants-svc/src/domain/participant_agg.ts
Due: docker_svc_package="participants-svc"

[ci skip] CI/CD auto commit for 'participants-svc' Docker Build and Publish - parent commit: 'c2fbe8388d00613bf3f7fe15850c456dbefabe8c'
  packages/participants-svc/package.json
Due: docker_svc_package="participants-svc"

Updated authz client to latest
  package-lock.json
  package.json
  packages/client-lib/package.json
  packages/participants-svc/package.json
  packages/participants-svc/src/application/service.ts
Due: npm_lib_package="client-lib", docker_svc_package="participants-svc"

[ci skip] CI/CD auto commit for 'client-lib' NPM publish - parent commit: '60b6253cd34efd763e2c08cd4006a7b07a2e9d53'
  packages/client-lib/package.json
Due: npm_lib_package="client-lib"

[ci skip] CI/CD auto commit for 'participants-svc' Docker Build and Publish - parent commit: '60b6253cd34efd763e2c08cd4006a7b07a2e9d53'
  packages/participants-svc/package.json
Due: docker_svc_package="participants-svc"

3536 Add liquidity adjustment apis
  package-lock.json
  package.json
  packages/participants-svc/package.json
  packages/participants-svc/src/application/privileges.ts
  packages/participants-svc/src/application/routes.ts
  packages/participants-svc/src/domain/errors.ts
  packages/participants-svc/src/domain/participant_agg.ts
  packages/participants-svc/src/domain/privilege_names.ts
  packages/public-types-lib/src/participant.ts
Due: npm_lib_package="public-types-lib", docker_svc_package="participants-svc"

Minor updates for performance and lint fixes
  .dockerignore
  .eslintrc
  .gitignore
  package.json
  packages/participants-svc/src/application/privileges.ts
  packages/participants-svc/src/application/routes.ts
  packages/participants-svc/src/domain/entities/participant.ts
  packages/participants-svc/src/domain/participant_agg.ts
  packages/participants-svc/src/domain/privilege_names.ts
  packages/public-types-lib/src/participant.ts
  tsconfig.json
Due: npm_lib_package="public-types-lib", docker_svc_package="participants-svc"

[ci skip] CI/CD auto commit for 'public-types-lib' NPM publish - parent commit: '86211e610a438ac05c048dda84377c5a7087c5d2'
  packages/public-types-lib/package.json
Due: npm_lib_package="public-types-lib"

[ci skip] CI/CD auto commit for 'participants-svc' Docker Build and Publish - parent commit: '86211e610a438ac05c048dda84377c5a7087c5d2'
  packages/participants-svc/package.json
Due: docker_svc_package="participants-svc"

Updated security and platform config clients; Added SERVICE_START_TIMEOUT_MS env vars;
  package-lock.json
  packages/client-lib/package.json
  packages/participants-svc/package.json
  packages/participants-svc/src/application/service.ts
Due: npm_lib_package="client-lib", docker_svc_package="participants-svc"

[ci skip] CI/CD auto commit for 'client-lib' NPM publish - parent commit: 'cfc258fdc64365c9da39470844484c2744d10781'
  packages/client-lib/package.json
Due: npm_lib_package="client-lib"

[ci skip] CI/CD auto commit for 'participants-svc' Docker Build and Publish - parent commit: 'cfc258fdc64365c9da39470844484c2744d10781'
  packages/participants-svc/package.json
Due: docker_svc_package="participants-svc"

3536 Add apis for bulk pending approvals
  packages/participants-svc/src/application/routes.ts
Due: docker_svc_package="participants-svc"

3536 Add apis for bulk pending approvals
  packages/participants-svc/src/domain/participant_agg.ts
Due: docker_svc_package="participants-svc"

#3607 bug fix check duplicates on participant's account change requests
  package-lock.json
  packages/participants-svc/src/application/configset.ts
  packages/participants-svc/src/domain/participant_agg.ts
Due: docker_svc_package="participants-svc"

3536 Add apis for pending approval list
  packages/participants-svc/src/application/privileges.ts
  packages/participants-svc/src/application/routes.ts
  packages/participants-svc/src/domain/participant_agg.ts
  packages/participants-svc/src/domain/privilege_names.ts
  packages/public-types-lib/src/participant.ts
Due: npm_lib_package="public-types-lib", docker_svc_package="participants-svc"

Path conditions:
  npm_lib_package="public-types-lib": any of: packages/public-types-lib/.*
  npm_lib_package="client-lib": any of: packages/client-lib/.*
  docker_svc_package="participants-svc": any of: packages/participants-svc/.*
