Repository mojaloop/participants-bc: changes, and which CircleCI parameters are due for each by the changed paths.
All: npm_lib_package="public-types-lib", npm_lib_package="client-lib", docker_svc_package="participants-svc"

[ci skip] CI/CD auto commit for 'participants-svc' Docker Build and Publish - parent commit: 'a7603e8d62fdc88a242589629f7bd44aac0d40a4'
  packages/participants-svc/package.json
Due: docker_svc_package="participants-svc"

feat: validate ndc request amount before creating ndc change request creates. Added related unit test
  packages/participants-svc/src/domain/participant_agg.ts
  packages/participants-svc/test/unit/participants_routes.test.ts
Due: docker_svc_package="participants-svc"

fix: lint errors
  packages/participants-svc/src/domain/participant_agg.ts
Due: docker_svc_package="participants-svc"

chore: removed unused variable
  packages/participants-svc/src/domain/participant_agg.ts
Due: docker_svc_package="participants-svc"

feat: add basic description and cicd processes
  Onboarding.md
  README.md
  packages/participants-svc/README.md
Due: docker_svc_package="participants-svc"

chores: correct var values
  Onboarding.md
  packages/participants-svc/README.md
Due: docker_svc_package="participants-svc"

feat: #3695 added validation of requested ndc amount on ndc change request creating stage
  packages/participants-svc/package.json
  packages/participants-svc/src/domain/participant_agg.ts
  packages/participants-svc/test/unit/participants_routes.test.ts
  packages/shared-mocks-lib/package.json
Due: docker_svc_package="participants-svc"

fix: minor fix
  packages/participants-svc/test/unit/participants_routes.test.ts
Due: docker_svc_package="participants-svc"

[ci skip] CI/CD auto commit for 'participants-svc' Docker Build and Publish - parent commit: '1e53b9a42da4e692d5b589c25e9aa041bf3ffa72'
  packages/participants-svc/package.json
Due: docker_svc_package="participants-svc"

feat: added fund withdrawal constraint when creating fund withdrawal request and approving fund withdrwal request
  packages/participants-svc/src/domain/participant_agg.ts
Due: docker_svc_package="participants-svc"

fix: approval and rejection code of participant contact info and participant status as commit 47ec8b9
  package-lock.json
  packages/participants-svc/src/domain/participant_agg.ts
Due: docker_svc_package="participants-svc"

[ci skip] CI/CD auto commit for 'participants-svc' Docker Build and Publish - parent commit: '5d5f1611b820926094d1a7f7ad03da0d4c6696c5'
  packages/participants-svc/package.json
Due: docker_svc_package="participants-svc"

fix: ndc percentage not calculating final amount fixed
  packages/participants-svc/src/domain/participant_agg.ts
Due: docker_svc_package="participants-svc"

[ci skip] CI/CD auto commit for 'participants-svc' Docker Build and Publish - parent commit: 'be15dcdce5b86fc85a700ea2abe560147fc5fb83'
  packages/participants-svc/package.json
Due: docker_svc_package="participants-svc"

feat: creates participant's funds movement information when making settlement.
  package-lock.json
  packages/participants-svc/src/application/routes.ts
  packages/participants-svc/src/domain/participant_agg.ts
  packages/public-types-lib/src/enums.ts
  packages/public-types-lib/src/participant.ts
Due: npm_lib_package="public-types-lib", docker_svc_package="participants-svc"

feat: update IParticipantFundsMovement.type
  packages/public-types-lib/src/participant.ts
Due: npm_lib_package="public-types-lib"

feat: initial integration with key-management certificate servvice
  package-lock.json
  packages/participants-svc/package.json
  packages/participants-svc/src/application/routes.ts
  packages/participants-svc/src/domain/entities/participant.ts
  packages/participants-svc/src/domain/participant_agg.ts
  packages/participants-svc/src/domain/privilege_names.ts
  packages/public-types-lib/package.json
  packages/public-types-lib/src/participant.ts
  packages/shared-mocks-lib/src/mocked_data.ts
Due: npm_lib_package="public-types-lib", docker_svc_package="participants-svc"

feat: update test for fundsMovementTypes properties changes
  package-lock.json
  packages/participants-svc/test/unit/participants_routes.test.ts
  packages/public-types-lib/src/participant.ts
Due: npm_lib_package="public-types-lib", docker_svc_package="participants-svc"

feat: minor fixes
  packages/participants-svc/src/domain/participant_agg.ts
Due: docker_svc_package="participants-svc"

feat: updated funds movement record duplicate check for liquidity adjustment.
  packages/participants-svc/src/domain/participant_agg.ts
Due: docker_svc_package="participants-svc"

feat: made some minor updates
  packages/participants-svc/src/application/routes.ts
  packages/participants-svc/src/domain/participant_agg.ts
Due: docker_svc_package="participants-svc"

[ci skip] CI/CD auto commit for 'public-types-lib' NPM publish - parent commit: '55c3a55ccb8bbe265f6e4402eefc2d9de9f50703'
  packages/public-types-lib/package.json
Due: npm_lib_package="public-types-lib"

[ci skip] CI/CD auto commit for 'participants-svc' Docker Build and Publish - parent commit: '55c3a55ccb8bbe265f6e4402eefc2d9de9f50703'
  packages/participants-svc/package.json
Due: docker_svc_package="participants-svc"

feat: update participant-bc-public-types-lib version in client-lib
  package-lock.json
  packages/client-lib/package.json
Due: npm_lib_package="client-lib"

[ci skip] CI/CD auto commit for 'client-lib' NPM publish - parent commit: 'acbd014e9b398f08a31f48da24a0c352697b01e5'
  packages/client-lib/package.json
Due: npm_lib_package="client-lib"

feat: Added kafka authentication envvars and options
  package-lock.json
  packages/participants-svc/package.json
  packages/participants-svc/src/application/service.ts
  packages/shared-mocks-lib/package.json
Due: docker_svc_package="participants-svc"

[ci skip] CI/CD auto commit for 'participants-svc' Docker Build and Publish - parent commit: '086b80216a8af690bda779064f4d85c9c4b5fc6f'
  packages/participants-svc/package.json
Due: docker_svc_package="participants-svc"

feat: Add CSR Requests Handling in Participants Module
  packages/participants-svc/src/application/privileges.ts
  packages/participants-svc/src/application/routes.ts
  packages/participants-svc/src/application/service.ts
  packages/participants-svc/src/domain/entities/participant.ts
  packages/participants-svc/src/domain/errors.ts
  packages/participants-svc/src/domain/participant_agg.ts
  packages/participants-svc/src/implementations/mongodb_participants_repo.ts
  packages/public-types-lib/src/participant.ts
Due: npm_lib_package="public-types-lib", docker_svc_package="participants-svc"

refactor: CSR handling
  packages/participants-svc/src/application/routes.ts
  packages/participants-svc/src/domain/errors.ts
  packages/participants-svc/src/domain/participant_agg.ts
  packages/public-types-lib/src/enums.ts
  packages/public-types-lib/src/participant.ts
Due: npm_lib_package="public-types-lib", docker_svc_package="participants-svc"

updated services usage of updated authorization and platform-configuration clients
  package-lock.json
  packages/client-lib/package.json
  packages/participants-svc/package.json
  packages/participants-svc/src/application/configset.ts
  packages/participants-svc/src/application/service.ts
  packages/participants-svc/src/domain/participant_agg.ts
  packages/public-types-lib/package.json
  packages/shared-mocks-lib/package.json
Due: npm_lib_package="public-types-lib", npm_lib_package="client-lib", docker_svc_package="participants-svc"

changed bc version to app version
  packages/participants-svc/src/application/service.ts
Due: docker_svc_package="participants-svc"

[ci skip] CI/CD auto commit for 'client-lib' NPM publish - parent commit: 'faa78f85dd5c14b33d2557422b992b9a640f41cd'
  packages/client-lib/package.json
Due: npm_lib_package="client-lib"

[ci skip] CI/CD auto commit for 'public-types-lib' NPM publish - parent commit: 'faa78f85dd5c14b33d2557422b992b9a640f41cd'
  packages/public-types-lib/package.json
Due: npm_lib_package="public-types-lib"

[ci skip] CI/CD auto commit for 'participants-svc' Docker Build and Publish - parent commit: 'faa78f85dd5c14b33d2557422b992b9a640f41cd'
  packages/participants-svc/package.json
Due: docker_svc_package="participants-svc"

updated cache client, added its unit test coverage
  package-lock.json
  packages/client-lib/src/participants_http_client.ts
  packages/client-lib/test/unit/index.test.ts
  packages/client-lib/test/unit/index.test.ts_TMP
Due: npm_lib_package="client-lib"

minor fix in the test for the client lib
  packages/client-lib/src/participants_http_client.ts
  packages/client-lib/test/unit/index.test.ts
Due: npm_lib_package="client-lib"

moved server types to public types, added consumer destroy on client
  packages/client-lib/src/participants_http_client.ts
  packages/participants-svc/src/application/routes.ts
  packages/participants-svc/src/domain/participant_agg.ts
  packages/participants-svc/src/domain/repo_interfaces.ts
  packages/participants-svc/src/domain/server_types.ts
  packages/participants-svc/src/implementations/mongodb_participants_repo.ts
  packages/public-types-lib/src/participant.ts
  packages/shared-mocks-lib/src/memory_participants_repo.ts
Due: npm_lib_package="public-types-lib", npm_lib_package="client-lib", docker_svc_package="participants-svc"

[ci skip] CI/CD auto commit for 'client-lib' NPM publish - parent commit: '915a37d0c9b1a44e1731fdb64fa59ae2829cb304'
  packages/client-lib/package.json
Due: npm_lib_package="client-lib"

[ci skip] CI/CD auto commit for 'public-types-lib' NPM publish - parent commit: '915a37d0c9b1a44e1731fdb64fa59ae2829cb304'
  packages/public-types-lib/package.json
Due: npm_lib_package="public-types-lib"

[ci skip] CI/CD auto commit for 'participants-svc' Docker Build and Publish - parent commit: '915a37d0c9b1a44e1731fdb64fa59ae2829cb304'
  packages/participants-svc/package.json
Due: docker_svc_package="participants-svc"

Path conditions:
  npm_lib_package="public-types-lib": any of: packages/public-types-lib/.*
  npm_lib_package="client-lib": any of: packages/client-lib/.*
  docker_svc_package="participants-svc": any of: packages/participants-svc/.*
