Repository mojaloop/participants-bc: changes, and which CircleCI parameters are due for each by the changed paths.
All: npm_lib_package="public-types-lib", npm_lib_package="client-lib", docker_svc_package="participants-svc"

chore(headers): update file headers to Mojaloop Foundation format
  packages/participants-svc/src/application/routes.ts
Due: docker_svc_package="participants-svc"

chore(headers): update file headers to Mojaloop Foundation format
  packages/participants-svc/src/application/privileges.ts
Due: docker_svc_package="participants-svc"

chore(headers): update file headers to Mojaloop Foundation format
  packages/participants-svc/src/application/service.ts
Due: docker_svc_package="participants-svc"

chore(headers): update file headers to Mojaloop Foundation format
  packages/participants-svc/src/domain/converters.ts
Due: docker_svc_package="participants-svc"

chore(headers): update file headers to Mojaloop Foundation format
  packages/participants-svc/src/domain/entities/participant.ts
Due: docker_svc_package="participants-svc"

chore(headers): update file headers to Mojaloop Foundation format
  packages/participants-svc/src/domain/errors.ts
Due: docker_svc_package="participants-svc"

chore(headers): update file headers to Mojaloop Foundation format
  packages/participants-svc/src/domain/iparticipant_account_balances_adapter.ts
Due: docker_svc_package="participants-svc"

chore(headers): update file headers to Mojaloop Foundation format
  packages/participants-svc/src/domain/participant_agg.ts
Due: docker_svc_package="participants-svc"

chore(headers): update file headers to Mojaloop Foundation format
  packages/participants-svc/src/domain/privilege_names.ts
Due: docker_svc_package="participants-svc"

chore(headers): update file headers to Mojaloop Foundation format
  packages/participants-svc/src/domain/repo_interfaces.ts
Due: docker_svc_package="participants-svc"

chore(headers): update file headers to Mojaloop Foundation format
  packages/participants-svc/src/implementations/grpc_acc_bal_adapter.ts
Due: docker_svc_package="participants-svc"

chore(headers): update file headers to Mojaloop Foundation format
  packages/participants-svc/src/implementations/mongodb_participants_repo.ts
Due: docker_svc_package="participants-svc"

chore(headers): update file headers to Mojaloop Foundation format
  packages/participants-svc/test/unit/event_handler.test.ts
Due: docker_svc_package="participants-svc"

chore(headers): update file headers to Mojaloop Foundation format
  packages/participants-svc/test/unit/index.test.ts
Due: docker_svc_package="participants-svc"

chore(headers): update file headers to Mojaloop Foundation format
  packages/participants-svc/test/unit/participants.test.ts
Due: docker_svc_package="participants-svc"

chore(headers): update file headers to Mojaloop Foundation format
  packages/public-types-lib/src/enums.ts
Due: npm_lib_package="public-types-lib"

chore(headers): update file headers to Mojaloop Foundation format
  packages/public-types-lib/src/participant.ts
Due: npm_lib_package="public-types-lib"

chore(headers): update file headers to Mojaloop Foundation format
  packages/public-types-lib/src/index.ts
Due: npm_lib_package="public-types-lib"

chore(headers): update file headers to Mojaloop Foundation format
  packages/shared-mocks-lib/src/adapter/accounts_balances_adapter_mock.ts
Due: none

chore(headers): update file headers to Mojaloop Foundation format
  packages/shared-mocks-lib/src/audit_client_mock.ts
Due: none

chore(headers): update file headers to Mojaloop Foundation format
  packages/shared-mocks-lib/src/authorization_client_mock.ts
Due: none

chore(headers): update file headers to Mojaloop Foundation format
  packages/shared-mocks-lib/src/config_client_mock.ts
Due: none

chore(headers): update file headers to Mojaloop Foundation format
  packages/shared-mocks-lib/src/converters.ts
Due: none

chore(headers): update file headers to Mojaloop Foundation format
  packages/shared-mocks-lib/src/index.ts
Due: none

chore(headers): update file headers to Mojaloop Foundation format
  packages/shared-mocks-lib/src/memory_auth_requester.ts
Due: none

chore(headers): update file headers to Mojaloop Foundation format
  packages/shared-mocks-lib/src/memory_message_consumer.ts
Due: none

chore(headers): update file headers to Mojaloop Foundation format
  packages/shared-mocks-lib/src/memory_message_producer.ts
Due: none

chore(headers): update file headers to Mojaloop Foundation format
  packages/shared-mocks-lib/src/memory_participants_repo.ts
Due: none

chore(headers): update file headers to Mojaloop Foundation format
  packages/shared-mocks-lib/src/mocked_data.ts
Due: none

chore(headers): update file headers to Mojaloop Foundation format
  packages/shared-mocks-lib/src/token_helper_mock.ts
Due: none

chore(headers): update file headers to Mojaloop Foundation format
  test/integration/index.test.ts
Due: none

Path conditions:
  npm_lib_package="public-types-lib": any of: packages/public-types-lib/.*
  npm_lib_package="client-lib": any of: packages/client-lib/.*
  docker_svc_package="participants-svc": any of: packages/participants-svc/.*
