Repository mojaloop/participants-bc: changes, and which CircleCI parameters are due for each by the changed paths.
All: npm_lib_package="public-types-lib", npm_lib_package="client-lib", docker_svc_package="participants-svc"

Path conditions:
  npm_lib_package="public-types-lib": any of: packages/public-types-lib/.*
  npm_lib_package="client-lib": any of: packages/client-lib/.*
  docker_svc_package="participants-svc": any of: packages/participants-svc/.*

[ci skip] CI/CD auto commit for Docker push of participants-svc - commit: 5db43f4
  packages/participants-svc/package.json
Due: docker_svc_package="participants-svc"

[skip ci] Updated tsconfig to lastest values
  tsconfig.json
Due: none

feat: filter participants by id, name and state
  packages/participants-svc/src/application/routes.ts
  packages/participants-svc/src/domain/participant_agg.ts
  packages/participants-svc/src/domain/repo_interfaces.ts
  packages/participants-svc/src/implementations/mongodb_participants_repo.ts
  test/integration/index.test.ts
Due: docker_svc_package="participants-svc"

fix!: test cannot run + added filter test
  packages/client-lib/src/participants_http_client.ts
  test/integration/index.test.ts
Due: npm_lib_package="client-lib"

Merge with feature/3336 and updated circleci scripts
  .circleci/config.yml
  .circleci/docker_and_npm_config.yml
  .circleci/getLastCommit.js
  .circleci/publish.sh
  .circleci/publish_common_functions.sh
  .lastcibuild
  jest.config.js
  package-lock.json
  package.json
  packages/client-lib/jest.config.js
  packages/client-lib/package.json
  packages/participants-svc/jest.config.js
  packages/participants-svc/package.json
  packages/public-types-lib/jest.config.js
  packages/public-types-lib/package.json
Due: npm_lib_package="public-types-lib", npm_lib_package="client-lib", docker_svc_package="participants-svc"

[ci skip] CI/CD auto commit for 'client-lib' NPM publish - parent commit: '0b99125862427916580ba0051ea2181919d6f962'
  packages/client-lib/package.json
Due: npm_lib_package="client-lib"

[ci skip] CI/CD auto commit for 'public-types-lib' NPM publish - parent commit: '0b99125862427916580ba0051ea2181919d6f962'
  packages/public-types-lib/package.json
Due: npm_lib_package="public-types-lib"

[ci skip] CI/CD auto commit for 'participants-svc' Docker Build and Publish - parent commit: '0b99125862427916580ba0051ea2181919d6f962'
  packages/participants-svc/package.json
Due: docker_svc_package="participants-svc"

Prepared NDC structures and did some code cleanup
  package-lock.json
  package.json
  packages/client-lib/package.json
  packages/client-lib/src/participants_http_client.ts
  packages/participants-svc/package.json
  packages/participants-svc/src/application/config/index.ts
  packages/participants-svc/src/application/config/privileges.ts
  packages/participants-svc/src/application/index.ts
  packages/participants-svc/src/application/routes.ts
  packages/participants-svc/src/application/service.ts
  packages/participants-svc/src/domain/entities/participant.ts
  packages/participants-svc/src/domain/participant_agg.ts
  packages/participants-svc/src/implementations/grpc_acc_bal_adapter.ts
  packages/participants-svc/src/implementations/mongodb_participants_repo.ts
  packages/participants-svc/src/implementations/tb_acc_bal_adapter.ts
  packages/public-types-lib/src/participant.ts
Due: npm_lib_package="public-types-lib", npm_lib_package="client-lib", docker_svc_package="participants-svc"

[skip ci] fixing version
  packages/client-lib/package.json
  packages/participants-svc/package.json
  packages/public-types-lib/package.json
Due: npm_lib_package="public-types-lib", npm_lib_package="client-lib", docker_svc_package="participants-svc"

Updated types lib version on the client lib
  packages/client-lib/package.json
Due: npm_lib_package="client-lib"

[ci skip] CI/CD auto commit for 'client-lib' NPM publish - parent commit: '3df172b9d3092c89653230c92bb5b4fbea69c60e'
  packages/client-lib/package.json
Due: npm_lib_package="client-lib"

Prepared participants for the netdebitcap change request
  packages/participants-svc/src/application/routes.ts
  packages/participants-svc/src/domain/entities/participant.ts
  packages/participants-svc/src/domain/participant_agg.ts
  packages/participants-svc/src/domain/privilege_names.ts
  packages/public-types-lib/src/participant.ts
Due: npm_lib_package="public-types-lib", docker_svc_package="participants-svc"

[ci skip] CI/CD auto commit for 'public-types-lib' NPM publish - parent commit: '5a0417d282379cf8efbc5d415382ddf98c6a1b51'
  packages/public-types-lib/package.json
Due: npm_lib_package="public-types-lib"

[ci skip] CI/CD auto commit for 'participants-svc' Docker Build and Publish - parent commit: '5a0417d282379cf8efbc5d415382ddf98c6a1b51'
  packages/participants-svc/package.json
Due: docker_svc_package="participants-svc"

Added cache to ParticipantsHttpClient
  packages/client-lib/README.md
  packages/client-lib/src/index.ts
  packages/client-lib/src/participants_http_client.ts
  test/integration/index.test.ts
Due: npm_lib_package="client-lib"

Updated CI/CD scripts to latest
  .circleci/config.yml
Due: none

[ci skip] CI/CD auto commit for 'client-lib' NPM publish - parent commit: '3e73111004deaeee96ef9779c5b8e008007844e6'
  packages/client-lib/package.json
Due: npm_lib_package="client-lib"

3360- Participants BC - Net debit cap management
  packages/participants-svc/package.json
  packages/participants-svc/src/application/routes.ts
  packages/participants-svc/src/domain/entities/enums.ts
  packages/participants-svc/src/domain/entities/participant.ts
  packages/participants-svc/src/domain/participant_agg.ts
  packages/participants-svc/src/implementations/mongodb_participants_repo.ts
  packages/public-types-lib/src/participant.ts
Due: npm_lib_package="public-types-lib", docker_svc_package="participants-svc"

Added the calculated balance to the IParticipantAccount type (this balance comes already calculated from accounts and balances)
  packages/participants-svc/src/domain/entities/participant.ts
  packages/participants-svc/src/domain/participant_agg.ts
  packages/public-types-lib/src/participant.ts
Due: npm_lib_package="public-types-lib", docker_svc_package="participants-svc"

[ci skip] CI/CD auto commit for 'client-lib' NPM publish - parent commit: '465eb2c8b06b86033f65f072385704af03b2a72d'
  packages/client-lib/package.json
Due: npm_lib_package="client-lib"

[ci skip] CI/CD auto commit for 'public-types-lib' NPM publish - parent commit: '465eb2c8b06b86033f65f072385704af03b2a72d'
  packages/public-types-lib/package.json
Due: npm_lib_package="public-types-lib"

[ci skip] CI/CD auto commit for 'participants-svc' Docker Build and Publish - parent commit: '465eb2c8b06b86033f65f072385704af03b2a72d'
  packages/participants-svc/package.json
Due: docker_svc_package="participants-svc"

3360 Added new priveleges for participant NDC change
  packages/participants-svc/src/application/config/privileges.ts
Due: docker_svc_package="participants-svc"

Added specific errors to NDC validations and fetch the balance directly from accounts&balances adapter
  packages/participants-svc/src/domain/errors.ts
  packages/participants-svc/src/domain/participant_agg.ts
Due: docker_svc_package="participants-svc"

[ci skip] CI/CD auto commit for 'client-lib' NPM publish - parent commit: '07ee3a7a0291d1344c97b70f5896ed1dad091631'
  packages/client-lib/package.json
Due: npm_lib_package="client-lib"

[ci skip] CI/CD auto commit for 'public-types-lib' NPM publish - parent commit: '07ee3a7a0291d1344c97b70f5896ed1dad091631'
  packages/public-types-lib/package.json
Due: npm_lib_package="public-types-lib"

[ci skip] CI/CD auto commit for 'participants-svc' Docker Build and Publish - parent commit: '07ee3a7a0291d1344c97b70f5896ed1dad091631'
  packages/participants-svc/package.json
Due: docker_svc_package="participants-svc"

Updated client to reflect IAuthenticatedHttpRequester move to security-bc-public-types-lib and updated CI/CD scripts to latest
  .circleci/config.yml
  .circleci/getLastCommit.js
  .circleci/publish_common_functions.sh
  package-lock.json
  packages/client-lib/package.json
  packages/client-lib/src/participants_http_client.ts
  packages/participants-svc/package.json
Due: npm_lib_package="client-lib", docker_svc_package="participants-svc"

Missing package-lock.json
  package-lock.json
Due: none

[ci skip] CI/CD auto commit for 'client-lib' NPM publish - parent commit: 'f7cc8f63f9d9cee8625af88a69a18eb1bae1fa8a'
  packages/client-lib/package.json
Due: npm_lib_package="client-lib"

[ci skip] CI/CD auto commit for 'participants-svc' Docker Build and Publish - parent commit: 'f7cc8f63f9d9cee8625af88a69a18eb1bae1fa8a'
  packages/participants-svc/package.json
Due: docker_svc_package="participants-svc"

Fixed service/docker name in participants-bc-participants-svc
  packages/participants-svc/package.json
Due: docker_svc_package="participants-svc"

[ci skip] CI/CD auto commit for 'participants-svc' Docker Build and Publish - parent commit: '65300b4ce44cbf1638ebe889ce19d3949a4f5de1'
  packages/participants-svc/package.json
Due: docker_svc_package="participants-svc"

Added latest platform configs, metrics and latest A&B client
  .circleci/publish.sh
  .ncurc.json
  package-lock.json
  package.json
  packages/client-lib/.ncurc.json
  packages/participants-svc/ncurc.json
  packages/participants-svc/package.json
  packages/participants-svc/src/application/configset.ts
  packages/participants-svc/src/application/privileges.ts
  packages/participants-svc/src/application/service.ts
  packages/participants-svc/src/domain/participant_agg.ts
Due: npm_lib_package="client-lib", docker_svc_package="participants-svc"

[ci skip] CI/CD auto commit for 'client-lib' NPM publish - parent commit: 'e3c937a1d92ed1b98b7ac5e0355764ae2354fbd0'
  packages/client-lib/package.json
Due: npm_lib_package="client-lib"

[ci skip] CI/CD auto commit for 'participants-svc' Docker Build and Publish - parent commit: 'e3c937a1d92ed1b98b7ac5e0355764ae2354fbd0'
  packages/participants-svc/package.json
Due: docker_svc_package="participants-svc"

Proper logger name on ParticipantsHttpClient
  packages/client-lib/src/participants_http_client.ts
Due: npm_lib_package="client-lib"

[ci skip] CI/CD auto commit for 'client-lib' NPM publish - parent commit: 'fa08e5f5ca25a8096e0db423896aaedd60f4782c'
  packages/client-lib/package.json
Due: npm_lib_package="client-lib"

Added service start timeout and express close with promise
  .eslintrc
  package-lock.json
  package.json
  packages/participants-svc/src/application/service.ts
Due: docker_svc_package="participants-svc"
