Repository mojaloop/participants-bc: changes, and which CircleCI parameters are due for each by the changed paths.
All: npm_lib_package="public-types-lib", npm_lib_package="client-lib", docker_svc_package="participants-svc"

Added implementation for rejecting sourceIP and participantStatus change request flow.
  packages/participants-svc/src/application/routes.ts
  packages/participants-svc/src/domain/participant_agg.ts
  packages/public-types-lib/src/participant.ts
Due: npm_lib_package="public-types-lib", docker_svc_package="participants-svc"

minor fixes
  packages/participants-svc/package.json
  packages/public-types-lib/package.json
  packages/public-types-lib/src/enums.ts
Due: npm_lib_package="public-types-lib", docker_svc_package="participants-svc"

minor fixes
  packages/participants-svc/src/domain/participant_agg.ts
Due: docker_svc_package="participants-svc"

minor fixes
  packages/participants-svc/src/application/routes.ts
Due: docker_svc_package="participants-svc"

reset package version
  packages/public-types-lib/package.json
Due: npm_lib_package="public-types-lib"

[ci skip] CI/CD auto commit for 'participants-svc' Docker Build and Publish - parent commit: '7a74a9417c38fb8fc5f6828a9ad6fc513164e9de'
  packages/participants-svc/package.json
Due: docker_svc_package="participants-svc"

[ci skip] CI/CD auto commit for 'public-types-lib' NPM publish - parent commit: '34ba8fb399490a6db705d99cfde0eec527f92fa5'
  packages/public-types-lib/package.json
Due: npm_lib_package="public-types-lib"

[ci skip] CI/CD auto commit for 'participants-svc' Docker Build and Publish - parent commit: '34ba8fb399490a6db705d99cfde0eec527f92fa5'
  packages/participants-svc/package.json
Due: docker_svc_package="participants-svc"

Added reject function for bulk approval and code refactoring
  packages/participants-svc/src/application/routes.ts
  packages/participants-svc/src/domain/participant_agg.ts
Due: docker_svc_package="participants-svc"

fix: lint error
  packages/participants-svc/src/domain/participant_agg.ts
Due: docker_svc_package="participants-svc"

#3631 bugfix: show error when approving NDC change request's absolute amount greater than account balance
  packages/participants-svc/src/domain/participant_agg.ts
Due: docker_svc_package="participants-svc"

minor fix: lint error
  packages/participants-svc/src/domain/participant_agg.ts
Due: docker_svc_package="participants-svc"

[ci skip] CI/CD auto commit for 'participants-svc' Docker Build and Publish - parent commit: 'ce89b2b541dd8d8b7f91c7f559ba164c2b618986'
  packages/participants-svc/package.json
Due: docker_svc_package="participants-svc"

Implementation
  packages/participants-svc/src/domain/participant_agg.ts
Due: docker_svc_package="participants-svc"

[ci skip] CI/CD auto commit for 'participants-svc' Docker Build and Publish - parent commit: 'd19c0a78dd33be149b4ce6b8c0b108e6cb6af3b6'
  packages/participants-svc/package.json
Due: docker_svc_package="participants-svc"

feat: add new enums in ParticipantTypes
  packages/public-types-lib/src/enums.ts
Due: npm_lib_package="public-types-lib"

[ci skip] CI/CD auto commit for 'public-types-lib' NPM publish - parent commit: '3894d097e19942c1dd83119eacb9e0b085138629'
  packages/public-types-lib/package.json
Due: npm_lib_package="public-types-lib"

chore: version bumps
  packages/public-types-lib/package.json
Due: npm_lib_package="public-types-lib"

feat: removed other participant types
  packages/public-types-lib/src/enums.ts
Due: npm_lib_package="public-types-lib"

[ci skip] CI/CD auto commit for 'public-types-lib' NPM publish - parent commit: 'e2deeb9d227ea871160d5d300d64c86e6ee82a26'
  packages/public-types-lib/package.json
Due: npm_lib_package="public-types-lib"

feat: add new codeowners to participants-bc
  CODEOWNERS
Due: none

chore: update code owners
  CODEOWNERS
  package-lock.json
  package.json
  packages/client-lib/package.json
  packages/participants-svc/package.json
Due: npm_lib_package="client-lib", docker_svc_package="participants-svc"

[ci skip] CI/CD auto commit for 'client-lib' NPM publish - parent commit: '47ec8b965a242ee2cbe87a6445e5a1f129969c17'
  packages/client-lib/package.json
Due: npm_lib_package="client-lib"

[ci skip] CI/CD auto commit for 'participants-svc' Docker Build and Publish - parent commit: '47ec8b965a242ee2cbe87a6445e5a1f129969c17'
  packages/participants-svc/package.json
Due: docker_svc_package="participants-svc"

chore: adding unit test to routes
  package-lock.json
  package.json
  packages/participants-svc/src/application/routes.ts
  packages/participants-svc/src/domain/errors.ts
  packages/participants-svc/src/domain/participant_agg.ts
  packages/participants-svc/test/unit/participants_routes.test.ts
  packages/shared-mocks-lib/src/adapter/accounts_balances_adapter_mock.ts
Due: docker_svc_package="participants-svc"

feat: unit test implementation and minor fixes
  packages/participants-svc/src/application/routes.ts
  packages/participants-svc/src/domain/entities/participant.ts
  packages/participants-svc/test/unit/event_handler.test.ts
  packages/participants-svc/test/unit/participants.test.ts
  packages/participants-svc/test/unit/participants_routes.test.ts
Due: docker_svc_package="participants-svc"

fix: lint error
  packages/shared-mocks-lib/src/adapter/accounts_balances_adapter_mock.ts
  packages/shared-mocks-lib/src/memory_participants_repo.ts
  test/integration/implementations/participants_repo.test.ts.TMP
Due: none

fix: Corrected as sonar cloud suggestions
  packages/participants-svc/src/application/service.ts
  packages/shared-mocks-lib/src/adapter/accounts_balances_adapter_mock.ts
  packages/shared-mocks-lib/src/audit_client_mock.ts
  packages/shared-mocks-lib/src/converters.ts
  packages/shared-mocks-lib/src/memory_participants_repo.ts
Due: docker_svc_package="participants-svc"

fix: sonar clould issues
  packages/participants-svc/src/domain/participant_agg.ts
  packages/participants-svc/test/unit/participants.test.ts
  packages/participants-svc/test/unit/participants_routes.test.ts
  packages/shared-mocks-lib/src/mocked_data.ts
Due: docker_svc_package="participants-svc"

fix: fixed duplicate codes issues suggested by sonar cloud
  packages/participants-svc/src/domain/participant_agg.ts
Due: docker_svc_package="participants-svc"

fix: fix sonar cloud issues for source code
  packages/participants-svc/src/domain/participant_agg.ts
  packages/participants-svc/test/unit/participants_routes.test.ts
  packages/participants-svc/test/unit/route_tests/participants_accounts_routes.test.ts
  packages/participants-svc/test/unit/route_tests/participants_contact_info_routes.test.ts
  packages/participants-svc/test/unit/route_tests/participants_endpoint_routes.test.ts
  packages/participants-svc/test/unit/route_tests/participants_funds_movement_routes.test.ts
  packages/participants-svc/test/unit/route_tests/participants_liquidity_check_routes.test.ts
  packages/participants-svc/test/unit/route_tests/participants_ndc_routes.test.ts
  packages/participants-svc/test/unit/route_tests/participants_routes.test.ts
  packages/participants-svc/test/unit/route_tests/participants_sourceip_routes.test.ts
  packages/participants-svc/test/unit/route_tests/participants_status_routes.test.ts
Due: docker_svc_package="participants-svc"

fix: sonar clould issue
  packages/participants-svc/test/unit/participants_routes.test.ts
  packages/participants-svc/test/unit/route_tests/participants_accounts_routes.test.ts
  packages/participants-svc/test/unit/route_tests/participants_contact_info_routes.test.ts
  packages/participants-svc/test/unit/route_tests/participants_endpoint_routes.test.ts
  packages/participants-svc/test/unit/route_tests/participants_funds_movement_routes.test.ts
  packages/participants-svc/test/unit/route_tests/participants_liquidity_check_routes.test.ts
  packages/participants-svc/test/unit/route_tests/participants_ndc_routes.test.ts
  packages/participants-svc/test/unit/route_tests/participants_routes.test.ts
  packages/participants-svc/test/unit/route_tests/participants_sourceip_routes.test.ts
  packages/participants-svc/test/unit/route_tests/participants_status_routes.test.ts
Due: docker_svc_package="participants-svc"

feat: added more tests
  packages/participants-svc/src/application/routes.ts
  packages/participants-svc/test/unit/participants_routes.test.ts
Due: docker_svc_package="participants-svc"

chore: added comment for coverageThreshold
  packages/participants-svc/jest.config.js
Due: docker_svc_package="participants-svc"

chore: updated contributor list in new files
  packages/participants-svc/test/unit/event_handler.test.ts
  packages/participants-svc/test/unit/index.test.ts
  packages/participants-svc/test/unit/participants.test.ts
  packages/participants-svc/test/unit/participants_routes.test.ts
  packages/shared-mocks-lib/src/adapter/accounts_balances_adapter_mock.ts
  packages/shared-mocks-lib/src/audit_client_mock.ts
  packages/shared-mocks-lib/src/authorization_client_mock.ts
  packages/shared-mocks-lib/src/config_client_mock.ts
  packages/shared-mocks-lib/src/converters.ts
  packages/shared-mocks-lib/src/index.ts
  packages/shared-mocks-lib/src/memory_auth_requester.ts
  packages/shared-mocks-lib/src/memory_message_consumer.ts
  packages/shared-mocks-lib/src/memory_message_producer.ts
  packages/shared-mocks-lib/src/memory_participants_repo.ts
  packages/shared-mocks-lib/src/mocked_data.ts
  packages/shared-mocks-lib/src/token_helper_mock.ts
Due: docker_svc_package="participants-svc"

chore: update comment in jest.config.ts
  packages/participants-svc/jest.config.js
Due: docker_svc_package="participants-svc"

fix: fixed security hotspot issues in unit test files to environment variables inside setup.js
  packages/participants-svc/jest.config.js
  packages/participants-svc/test/setup.js
  packages/participants-svc/test/unit/participants.test.ts
  packages/participants-svc/test/unit/participants_routes.test.ts
Due: docker_svc_package="participants-svc"

feat: added mongodb_participants_repo.test, add more unit test to participants_routes.test.ts, minor fixes at participants_agg, run dep:update
  package-lock.json
  package.json
  packages/client-lib/package.json
  packages/participants-svc/package.json
  packages/participants-svc/src/domain/participant_agg.ts
  packages/participants-svc/test/setup.js
  packages/participants-svc/test/unit/mongodb_participants_repo.test.ts
  packages/participants-svc/test/unit/participants_routes.test.ts
  packages/shared-mocks-lib/package.json
Due: npm_lib_package="client-lib", docker_svc_package="participants-svc"

fix: removed mongodb-memory-server because it cannot run under linux alpine at mojaloop circle-ci
  package-lock.json
  package.json
  packages/participants-svc/test/unit/mongodb_participants_repo.test.ts
  test/integration/implementations/participants_repo.test.ts
Due: docker_svc_package="participants-svc"

[ci skip] CI/CD auto commit for 'client-lib' NPM publish - parent commit: 'a7603e8d62fdc88a242589629f7bd44aac0d40a4'
  packages/client-lib/package.json
Due: npm_lib_package="client-lib"

Path conditions:
  npm_lib_package="public-types-lib": any of: packages/public-types-lib/.*
  npm_lib_package="client-lib": any of: packages/client-lib/.*
  docker_svc_package="participants-svc": any of: packages/participants-svc/.*
