Repository mojaloop/participants-bc: changes, and which CircleCI parameters are due for each by the changed paths.
All: npm_lib_package="public-types-lib", npm_lib_package="client-lib", docker_svc_package="participants-svc"

feat: change transferId to journalEntryId in IParticipantsFundsMovement
  packages/participants-svc/src/domain/participant_agg.ts
  packages/public-types-lib/src/participant.ts
Due: npm_lib_package="public-types-lib", docker_svc_package="participants-svc"

feat: fixing bug for not saving funds movement entry when settlement has made if the participant didn't defined ndc information
  packages/participants-svc/src/domain/participant_agg.ts
  packages/participants-svc/test/unit/participants_routes.test.ts
Due: docker_svc_package="participants-svc"

[ci skip] CI/CD auto commit for 'public-types-lib' NPM publish - parent commit: 'dd2cb1ee057c379eeb24b9f3f2c8cbe4cd4429a8'
  packages/public-types-lib/package.json
Due: npm_lib_package="public-types-lib"

[ci skip] CI/CD auto commit for 'participants-svc' Docker Build and Publish - parent commit: 'dd2cb1ee057c379eeb24b9f3f2c8cbe4cd4429a8'
  packages/participants-svc/package.json
Due: docker_svc_package="participants-svc"

Update public-types-lib dependency version
  packages/client-lib/package.json
Due: npm_lib_package="client-lib"

[ci skip] CI/CD auto commit for 'client-lib' NPM publish - parent commit: '6a9f80fb70cdac4fd11b9cf98a7574507306b66f'
  packages/client-lib/package.json
Due: npm_lib_package="client-lib"

fix: minor fix
  packages/participants-svc/src/domain/participant_agg.ts
Due: docker_svc_package="participants-svc"

[ci skip] CI/CD auto commit for 'participants-svc' Docker Build and Publish - parent commit: '829e74421c760d378088a32ca8cbe9af1a66b95b'
  packages/participants-svc/package.json
Due: docker_svc_package="participants-svc"

feat: improved precision handling for calculations by using bigint conversions
  packages/participants-svc/src/domain/converters.ts
  packages/participants-svc/src/domain/participant_agg.ts
Due: docker_svc_package="participants-svc"

fix: ensure amount is always positive during balance calculations.
  packages/participants-svc/src/domain/participant_agg.ts
Due: docker_svc_package="participants-svc"

fix: rounded the result of stringToBigint function to 8 decimal places using toFixed(8).
  packages/participants-svc/src/domain/converters.ts
Due: docker_svc_package="participants-svc"

fix: ndc decimal values disappear when calculation with percentage
  packages/participants-svc/src/domain/participant_agg.ts
Due: docker_svc_package="participants-svc"

[ci skip] CI/CD auto commit for 'participants-svc' Docker Build and Publish - parent commit: '7ac74498cbee41dafd2ee61e58823acb5e8ef13a'
  packages/participants-svc/package.json
Due: docker_svc_package="participants-svc"

[ci skip] CI/CD auto commit for 'participants-svc' Docker Build and Publish - parent commit: 'a5479af9ff9dc5af6d1ea83b2d07effb35ce42ee'
  packages/participants-svc/package.json
Due: docker_svc_package="participants-svc"

Added updated Mojaloop license
  LICENSE.md
Due: none

feat: added more unit test
  package-lock.json
  package.json
  packages/participants-svc/test/unit/grpc_acc_bal_adapter.test.ts
  packages/participants-svc/test/unit/participants.test.ts
  packages/participants-svc/test/unit/participants_repo.test.ts
Due: docker_svc_package="participants-svc"

add more test cases
  packages/participants-svc/test/unit/configset.test.ts
  packages/participants-svc/test/unit/converter.test.ts
  packages/participants-svc/test/unit/event_handler.test.ts
  packages/participants-svc/test/unit/participant_agg.test.ts
  packages/participants-svc/test/unit/privilege_names.test.ts
Due: docker_svc_package="participants-svc"

add more test cases for participant-aggregate
  packages/participants-svc/test/unit/participant_agg.test.ts
  packages/participants-svc/test/unit/participant_agg_logic.test.ts
Due: docker_svc_package="participants-svc"

add more tests to participant-aggregate
  packages/participants-svc/test/unit/participant_agg_logic.test.ts
Due: docker_svc_package="participants-svc"

add more tests to participants aggregate
  packages/participants-svc/src/domain/participant_agg.ts
  packages/participants-svc/test/unit/participant_agg_logic.test.ts
Due: docker_svc_package="participants-svc"

add more tests to the participant aggregate
  packages/client-lib/test/unit/index.test.ts
  packages/participants-svc/src/domain/participant_agg.ts
  packages/participants-svc/test/unit/participant_agg_logic.test.ts
Due: npm_lib_package="client-lib", docker_svc_package="participants-svc"

add more tests for grpc_acc_bal_adapter
  packages/participants-svc/test/unit/grpc_acc_bal_adapter_test_1.test.ts
  packages/participants-svc/test/unit/grpc_acc_bal_adapter_test_2.test.ts
Due: docker_svc_package="participants-svc"

add tests for service.ts
  packages/participants-svc/src/domain/participant_agg.ts
  packages/participants-svc/test/unit/grpc_acc_bal_adapter_test_1.test.ts
  packages/participants-svc/test/unit/service.test.ts
Due: docker_svc_package="participants-svc"

add more tests to services.ts
  packages/participants-svc/test/unit/service.test.ts
Due: docker_svc_package="participants-svc"

feat: removed unnecesary codes in error handling
  packages/participants-svc/src/application/routes.ts
  packages/participants-svc/test/unit/participants_route_test_2.test.ts
  packages/participants-svc/test/unit/participants_routes.test.ts
Due: docker_svc_package="participants-svc"

add more tests
  packages/participants-svc/test/unit/participant_agg_logic.test.ts
  packages/participants-svc/test/unit/participants_repo.test.ts
  packages/participants-svc/test/unit/service.test.ts
Due: docker_svc_package="participants-svc"

add more tests to service.ts
  packages/participants-svc/test/unit/service.test.ts
Due: docker_svc_package="participants-svc"

fix: modified the unreachable check
  packages/participants-svc/src/domain/participant_agg.ts
Due: docker_svc_package="participants-svc"

add more tests to participant_repo
  packages/participants-svc/src/implementations/mongodb_participants_repo.ts
Due: docker_svc_package="participants-svc"

add more tests to participant aggregate
  packages/participants-svc/test/unit/participant_agg_logic.test.ts
Due: docker_svc_package="participants-svc"

fix service.test.ts
  packages/participants-svc/test/unit/service.test.ts
Due: docker_svc_package="participants-svc"

[ci skip] CI/CD auto commit for 'client-lib' NPM publish - parent commit: '118162c4d3ce91965c63a8482820a194119f115f'
  packages/client-lib/package.json
Due: npm_lib_package="client-lib"

[ci skip] CI/CD auto commit for 'participants-svc' Docker Build and Publish - parent commit: '118162c4d3ce91965c63a8482820a194119f115f'
  packages/participants-svc/package.json
Due: docker_svc_package="participants-svc"

chore(headers): update file headers to Mojaloop Foundation format
  packages/client-lib/src/errors.ts
Due: npm_lib_package="client-lib"

chore(headers): update file headers to Mojaloop Foundation format
  packages/client-lib/src/participants_http_client.ts
Due: npm_lib_package="client-lib"

chore(headers): update file headers to Mojaloop Foundation format
  packages/client-lib/src/index.ts
Due: npm_lib_package="client-lib"

chore(headers): update file headers to Mojaloop Foundation format
  packages/client-lib/test/unit/index.test.ts
Due: npm_lib_package="client-lib"

chore(headers): update file headers to Mojaloop Foundation format
  packages/participants-svc/src/application/configset.ts
Due: docker_svc_package="participants-svc"

chore(headers): update file headers to Mojaloop Foundation format
  packages/participants-svc/src/application/event_handler.ts
Due: docker_svc_package="participants-svc"

chore(headers): update file headers to Mojaloop Foundation format
  packages/participants-svc/src/application/index.ts
Due: docker_svc_package="participants-svc"

Path conditions:
  npm_lib_package="public-types-lib": any of: packages/public-types-lib/.*
  npm_lib_package="client-lib": any of: packages/client-lib/.*
  docker_svc_package="participants-svc": any of: packages/participants-svc/.*
